@using BSG.ADInventory.Resources
@{ ViewBag.EntityName = "InternalBOL";}

<table id="data-table-@ViewBag.EntityName" class="display table-hover table-striped" style="width:100%">
    <thead>
        <tr>
            <th class="table-col-sm">@Html.DisplayName(Resource.Proceedings)</th>
            <th class="table-col-sm">@Html.DisplayName(Resource.Id)</th>
            <th>@Html.DisplayName(Resource.DocNo)</th>
            <th>@Html.DisplayName(Resource.Destination)</th>
            <th>@Html.DisplayName(Resource.Reciver)</th>
            <th>@Html.DisplayName(Resource.CarType)</th>
            <th>@Html.DisplayName(Resource.PlateNumber)</th>
            <th>@Html.DisplayName(Resource.DriverName)</th>
            <th>@Html.DisplayName(Resource.Operator)</th>
            <th>@Html.DisplayName(Resource.CreateTime)</th>
        <th>@Html.DisplayName(Resource.Attachments)</th>
        <th>@Html.DisplayName(Resource.Status)</th>

        </tr>

    </thead>
</table>
<script src="~/Content/plugins/jquery-validation/jquery.validate.unobtrusive.min.js"></script>


<script type="text/javascript">

    $(document).ready(function () {
        var entity = '@ViewBag.EntityName';

        $('#data-table-' + entity + ' thead tr')
                .clone(true)
                .addClass('filters')
            .appendTo('#data-table-' + entity + ' thead');

        table = $('#data-table-' + entity).DataTable({
                orderCellsTop: true,
                fixedHeader: true,
                //scrollX: true,
                lengthMenu: [[10, 25, 50, 100, -1], [10, 25, 50, 100, "همه"]],
                dom: 'lfBrtip',
                buttons: [
                    'copy', 'excel', 'pdf', 'print', 'colvis',
                    {
                        text: '<i class="fal fa-refresh fa-md"></i> @Resource.Refresh',
                        action: function (e, dt, node, config) {
                            $('#data-table-' + entity).dataTable().api().ajax.reload();
                        }
                    },
                    {
                        text: '<i class="fas fa-plus fa-md text-green"></i> @Resource.Create',
                        action: function (e, dt, node, config) {
                            //getInvDocData(0,@ViewBag.DocTypeId);
                            crudActionLocal(0,'ایجاد بارنامه داخلی', 'modal-xl')
                        }
                    }
                ],
                retrieve: true,
                Response: true,
                order: [0, 'asc'],
                bProcessing: true,
                language: {
                    url: '/Content/plugins/datatables/fa.json'
                },
                aoColumns: [
                    {
                        data: 'Id',
                        render: function (data, type, row, meta) {
                            return '<div class="btn-group show  table-action-menu">' +
                                '<button type="button" class="btn btn-default dropdown-toggle text-center" data-toggle="dropdown" aria-expanded="true">' +
                                '<span class="fas fa-ellipsis-h fa-sm text-black-50"></span>' +
                                '</button>' +
                                '<div class="dropdown-menu" role="menu">' +
                                '<a class="dropdown-item" href="#" onclick="Print(' + data + ')"><i class="fal fa-print fa-md"></i> @Resource.Print</a>' +
                                (row.InvDocStatus == 1 ? ('<a class="dropdown-item" href="#" onclick="crudActionLocal('+ data + ',\'ویرایش بارنامه داخلی\',\'modal-xl\')"><i class="fal fa-edit fa-md"></i> @Resource.Edit</a>') : '') +
                                '<a class="dropdown-item" href="#" onclick="confirmDoc(' + data + ',\'' + entity + '\')"><i class="fal fa-check fa-md text-green"></i> @Resource.MakeDocDefinitive</a>' +
                                '<a class="dropdown-item" href="#" onclick="uploadFile(' + data + ',\'' + entity + '\')"><i class="fal fa-paperclip fa-md"></i> @Resource.UploadedFile</a>' +
                                '<a class="dropdown-item" href="#" onclick="DeleteItem(' + data + ',\'InvDoc\',\'' + entity + '\')"><i class="fal fa-trash-alt fa-md"></i> @Resource.Delete</a>' +
                                '</div>' +
                                '</div>'
                        }
                        , class: 'action-col'
                    },
                    { data: 'Id' },
                    { data: 'DocNo' },
                    { data: 'Dest' },
                    { data: 'Reciver' },
                    { data: 'CarType' },
                    { data: 'CarPlateNumer' },
                    { data: 'DriverName' },                    
                    { data: 'Operator' },
                    {
                        data: 'CreateTime',
                        className: 'readonly not-allowed',
                        render: function (data, type, full) {
                            if (data != null) {
                                var dtStart = new Date(parseInt(data.substr(6)));
                                return dtStart.toLocaleString('fa-IR');
                            } else {
                                return "";
                            }
                        }
                    },
                    {
                        data: 'Attachments',
                        render: function (data, type, row, meta) {
                            return data > 0 ? '<i class="fas fa-paperclip fa-lg text-blue" onclick="showAttachments(' + row.Id + ')"></i> ' + data : '';
                        }
                    },
                    {
                        data: 'InvDocStatus',
                        render: function (data, type, full, meta) {
                            return data == 1 ? '<i class="fa-duotone fa-arrows-spin fa-spin fa-lg text-danger"></i>' : '<i class="fa-duotone fa-circle-check fa-lg text-success"></i>';
                        }
                    },
                ],
                bFilter: true,//Enables Filtering
                bServerSide: true,
                sAjaxSource: "/InvDoc/GetDataListInternalBOLDoc",
                fnCreatedRow: function (nRow, aData, iDataIndex) {
                    $(nRow).attr('id', 'row-' + entity + '-' + aData['Id']);
                },
                initComplete: function () {

                    var api = this.api();
                    // For each column
                    api
                        .columns()
                        .eq(0)
                        .each(function (colIdx) {
                            var cell = $('#data-table-' + entity + ' .filters th').eq(
                                $(api.column(colIdx).header()).index()
                            );
                            var title = $(cell).text();
                            $(cell).html('<input type="text" class="form-control" placeholder=" " />');
                            $(
                                'input',
                                $('#data-table-' + entity + ' .filters th').eq($(api.column(colIdx).header()).index())
                            )
                                .off('keyup change')
                                .on('change', function (e) {
                                    $(this).attr('title', $(this).val());
                                    var regexr = '({search})';

                                    var cursorPosition = this.selectionStart;
                                    api
                                        .column(colIdx)
                                        .search(
                                            this.value != ''
                                                ? regexr.replace('{search}', this.value).replace('(', '').replace(')','')
                                                : '',
                                            this.value != '',
                                            this.value == ''
                                        )
                                        .draw();
                                })
                                .on('keydown', function (e) {
                                    if (e.key == '13') {
                                        e.stopPropagation();

                                        $(this).trigger('change');
                                        $(this)
                                            .focus()[0]
                                            .setSelectionRange(cursorPosition, cursorPosition);
                                    }
                                });
                        });
                    $("div.card-header #card-buttons").html('');
                    $('#data-table-' + entity + '_wrapper > .dt-buttons').appendTo("div.card-header #card-buttons");
                    $('.dt-buttons').addClass('float-left dt-buttons-show');
                    $('.dt-buttons button').addClass('btn btn-sm btn-light');
                    $('#data-table-' + entity + ' tr.filters').addClass('visible-filters');
                },
            });


        });

    function crudActionLocal(id,title, modalSize) {

        $.ajax({
            cache: false,
            type: 'GET',
            url: 'InvDoc/GetInternalBOLDoc?id=' + id,
            dataType: "html",
            beforeSend: function () {
                $("#overly-loading-desktop").removeClass("hidden");
            },
            success: function (data) {
                $('#modal-content-title').html('<i class="fad fa-rectangle-history-circle-plus fa-lg"></i> ' + title);
                $('#modal-content-body').html(data);
                if (modalSize != '') {
                    $('#modal-content .modal-dialog').addClass(modalSize);
                }
                $('#modal-content').modal('toggle');
            },
            error: function (xhr, ajaxOptions, thrownError) {
                toastr.error(thrownError)
            },
            complete: function responce() {
                $("#overly-loading-desktop").addClass("hidden");
                if ($.validator.unobtrusive != undefined) {
                    $.validator.unobtrusive.parse("#partialForm");
                }
                else { toastr.error('Form validator not found.') }
            }
        });
    }





</script>

