@using BSG.ADInventory.Resources
@{ViewBag.EntityName = "Role";}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="overlay-wrapper hidden" id="overly-loading-@ViewBag.EntityName">
                    <div class="overlay flex-column"><i class="fad fa-2x fa-spinner fa-spin"></i><div class="pt-2">@Resource.Loading</div></div>
                </div>
                <div class="card card-default">
                    <div class="card-header">
                        <div class="row ">
                            <div class="col-md-3 col-sm-12" id="card-title"><h4 class="card-title w-100"><i class="fad fa-shield-quartered fa-lg"></i> @Resource.List @Resource.Roles</h4></div>
                            <div class="col-md-9 col-sm-12" id="card-buttons-@ViewBag.EntityName"></div>
                        </div>
                    </div>
                    <div class="card-body">
                        <table id="data-table-@ViewBag.EntityName" class="display nowrap table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>@Resource.Proceedings</th>
                                    <th>@Html.DisplayName(Resource.Title)</th>
                                </tr>
                            </thead>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<script type="text/javascript">

    $(document).ready(function () {
        var entity = '@ViewBag.EntityName';

        $('#data-table-' + entity + ' thead tr')
            .clone(true)
            .addClass('filters')
            .appendTo('#data-table-' + entity + ' thead');

        table = $('#data-table-' + entity).DataTable({
             orderCellsTop: true,
            fixedHeader: true,
            scrollX: true,
            response: true,
            lengthMenu: [[10, 25, 50, 100, -1], [10, 25, 50, 100, "همه"]],
            dom: 'lfBrtip',
            buttons: [
                { extend: 'copy', exportOptions: { columns: ':visible' } },
                { extend: 'excel', exportOptions: { columns: ':visible' } },
                { extend: 'pdf', exportOptions: { columns: ':visible' } },
                {
                    extend: 'print',
                    exportOptions: { columns: ':visible' },
                    title: '<div><h3 class="text-center">@Resource.List @Resource.Users</h3></div>',
                },
                'colvis',
                {
                    text: '<i class="fal fa-refresh fa-md"></i> <span class="dt-buttons-caption">@Resource.Refresh</span>',
                    action: function (e, dt, node, config) {
                        $('#data-table-' + entity).dataTable().api().ajax.reload();
                    }
                },
                {
                    text: '<i class="fas fa-plus fa-md text-green"></i> <span class="dt-buttons-caption">@Resource.Create</span>',
                    action: function (e, dt, node, config) {
                        crudAction(entity, entity + '/CrudAction', 0, '@Resource.Create @Resource.User', '');
                    }
                },
            ],
            retrieve: true,
            Response: true,
            order: [0, 'asc'],
            bProcessing: true,
            language: { url: '/Content/plugins/datatables/fa.json' },
            bFilter: true,
            bServerSide: true,
            sAjaxSource: '/' + entity + '/GetDataList',
            fnCreatedRow: function (nRow, aData, iDataIndex) { $(nRow).attr('id', 'row-' + entity + '-' + aData['Id']); },
           aoColumns: [
                {
                    data: 'Id',
                    render: function (data, type, full, meta) {
                        return '<div class="btn-group show  table-action-menu">' +
                            '<button type="button" class="btn btn-default dropdown-toggle text-center" data-toggle="dropdown" aria-expanded="true">' +
                            '<span class="fas fa-ellipsis-h fa-sm text-black-50"></span>' +
                            '</button>' +
                            '<div class="dropdown-menu" role="menu">' +
                            '<a class="dropdown-item" href="#" onclick="crudAction(\'' + entity + '\',\'' + entity + '/CrudAction'+ '\',\'' + data + '\',\'@Resource.Edit @Resource.Role\' , \'modal-xl\')" > <i class="fal fa-edit fa-md"></i> @Resource.Edit</a > ' +
                            '<a class="dropdown-item" href="#" onclick="DeleteItem(\'' + data + '\',\'' + entity + '\',\'' + entity + '\')"><i class="fal fa-trash-alt fa-md"></i> @Resource.Delete</a>' +
                            '</div>' +
                            '</div>'
                    }
                    , class: 'action-col'
                },
                { data: 'Name' },
            ],
            bFilter: true,//Enables Filtering
            bServerSide: true,
            sAjaxSource: '/' + entity + '/GetDataList',
            fnCreatedRow: function (nRow, aData, iDataIndex) {
                $(nRow).attr('id', 'row-' + entity + '-' + aData['Id']);
            },
            initComplete: function () {

                var api = this.api();
                // For each column
                api
                    .columns()
                    .eq(0)
                    .each(function (colIdx) {
                        // Set the header cell to contain the input element
                        var cell = $('#data-table-' + entity + '_wrapper .filters th').eq(
                            $(api.column(colIdx).header()).index()
                        );
                        var title = $(cell).text();
                        $(cell).html('<input type="text" class="form-control" placeholder=" " />');

                        // On every keypress in this input
                        $(
                            'input',
                            $('#data-table-' + entity + '_wrapper .filters th').eq($(api.column(colIdx).header()).index())
                        )
                            .off('keyup change')
                            .on('change', function (e) {
                                // Get the search value
                                $(this).attr('title', $(this).val());
                                var regexr = '({search})'; //$(this).parents('th').find('select').val();
                                var cursorPosition = this.selectionStart;
                                // Search the column for that value
                                api
                                    .column(colIdx)
                                    .search(
                                        this.value != ''
                                            //? regexr.replace('{search}', '(((' + this.value + ')))')
                                            ? regexr.replace('{search}', this.value).replace('(', '').replace(')', '')
                                            : '',
                                        this.value != '',
                                        this.value == ''
                                    )
                                    .draw();
                            })
                            .on('keydown', function (e) {
                                if (e.key == '13') {
                                    e.stopPropagation();

                                    $(this).trigger('change');
                                    $(this)
                                        .focus()[0]
                                        .setSelectionRange(cursorPosition, cursorPosition);
                                }

                            });
                    });


                $('#data-table-' + entity + '_wrapper > .dt-buttons').appendTo('div.card-header #card-buttons-' + entity);
                $('.dt-buttons').addClass('float-left dt-buttons-show');
                $('.dt-buttons button').addClass('btn btn-sm btn-light');
                $('#data-table-' + entity + '_wrapper tr.filters').fadeIn(1000);
                table.columns.adjust();
            },
        });

    });
</script>



