@using BSG.ADInventory.Resources
@{ViewBag.EntityName = "Brand";
    ViewBag.EntityNameTrn = "BrandTrn";
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="overlay-wrapper hidden" id="overly-loading-@ViewBag.EntityName">
                    <div class="overlay flex-column"><i class="fad fa-2x fa-spinner fa-spin"></i><div class="pt-2">@Resource.Loading</div></div>
                </div>
                <div class="card card-default">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6 col-sm-12" id="card-title"><h4 class="card-title w-100 text-lg-left text-xl-left text-md-left text-sm-center"><i class="fad fa-blog fa-lg"></i> @Resource.List @Resource.Brands</h4></div>
                            <div class="col-md-6 col-sm-12" id="card-buttons-@ViewBag.EntityName"></div>
                        </div>
                    </div>
                    <div class="card-body">
                        <table id="data-table-@ViewBag.EntityName" class="display nowrap table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>@Resource.Proceedings</th>
                                    <th>@Html.DisplayName(Resource.Id)</th>
                                    <th>@Html.DisplayName(Resource.FaTitle)</th>
                                    <th>@Html.DisplayName(Resource.EnTitle)</th>                                    
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">

    var entityTrn = '@ViewBag.EntityNameTrn';
    var config = {
        entity: '@ViewBag.EntityName',
        entityParentId:'',
        entityPostfix: '',
        entityTitle: '@Resource.Brand',
        modalSize: '',
        customCrudAction: '',
        sAjaxSource: '/' + '@ViewBag.EntityName' + '/GetDataTableFilteredList',
        columns: [
            {
                data: 'Id',
                render: function (data, type, row, meta) {
                    return '<div class="dropdown">' +
                        '<button type="button" class="btn btn-default dropdown-toggle text-center" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">' +
                        '<span class="fas fa-ellipsis-h fa-sm"></span>' +
                        '</button>' +
                        '<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">' +
                        '<li><a class="dropdown-item" href="#" onclick="crudAction(\'' + '@ViewBag.EntityName' + '\',\'' + '@ViewBag.EntityName' + '/CrudAction' + '\',' + data + ',\'@Resource.Edit @Resource.Brand\' , \'\')" > <i class="fal fa-edit fa-md"></i> @Resource.Edit</a></li>' +                        
                        '<li><a class="dropdown-item" href="#" onclick="DeleteItem(' + data + ',\'' + '@ViewBag.EntityName' + '\',\'' + '@ViewBag.EntityName' + '\')"><i class="fal fa-trash-alt fa-md"></i> @Resource.Delete</a></li>' +
                        '</ul>' +
                        '</div>'
                }
                , class: 'action-col'
            },
            { data: 'Id' },
            { data: 'FaTitle' },
            { data: 'EnTitle' }
        ],
        columnDefs: [
            { "width": "50px", "targets": 0 },
            { "width": "50px", "targets": 1 }
        ]
    };
    initializeDataTable(config);
</script>
